
.user-avatar{
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 4px;
    background-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 65px;
    margin-bottom: 20px;
}

.avatar-container{
    position: relative;
}