
.user-avatar{
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 3px;
    position: sticky;
    position: -webkit-sticky;
    top: 65px;
    margin-bottom: 20px;
    cursor: pointer;
}

.avatar-container{
    position: relative;
}