.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(52, 82, 111, .95);
    z-index: 502;
}

.modal-child {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.dropdown-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 502;
    display: grid;
    grid-template-columns: .25fr .5fr .5fr .5fr .5fr .5fr .25fr;
}

.dropdown-child{
    position: absolute;
    top: 46px;
    grid-column: 6;
}

.show-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(52, 82, 111, .95);
    z-index: 502;
}
.show-child{
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden
}
.close {
    cursor: pointer;
}


