.navbar{
    width: 100vw;
    display: grid;
    position: fixed;
	grid-template-columns: .25fr .05fr .5fr .5fr .5fr .5fr .5fr .05fr .25fr;
    top: 0;
    height: 50px;
    align-items: center;
    z-index: 2;
}

.navbar-user:after{
    content: "";
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
	height: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	pointer-events: none;
}
.navbar-user{
    background:  #34526f;

}

.nav-logo{
    grid-column: 2;
    display: flex;
}

.b{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    position: relative;
    align-self: flex-end;
    color: white;
    line-height: 0em;
    justify-content: center;
    font-weight: bolder;   
    opacity: .8;
}
.b:hover{
    opacity: 1;
    animation-direction: normal;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-name: colours;
    animation-timing-function: ease;
}
@keyframes colours {
     0% {
         color: #1560BD;
        }
     25% {
         color: #f8cb4a;
        }
     50% {
         color: #ff492f;
        }
     75% {
         color: rgb(0, 207, 53);
        }
     100% {
         color: rgb(255, 138, 0);
        }
}
.nav-right{
    display: flex;
    flex-direction: row;
    grid-column: 7;
    list-style: none;
    position:relative;
}
.fa-user, .fa-home, .fa-github, .fa-angellist, .fa-linkedin{
    color: white;
    font-size: 30px;
    margin: 0 10px;
    opacity: .8;

}
/*profile dropdown*/
.profile-dropdown{
    list-style: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    width: 240px;
    background: lightgray;
    position: relative;
    color: black;
    z-index: 2;
    top: 0;
    left: 2;
    right: 0;
}

.profile-dropdown > span{
    padding: 5px 20px 5px 10px;
    display: flex;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    justify-content: space-between;

}
.logout-button{
    border: none;
    font-size: 14px;
    color: rgba(0,0,0,.65);
    background: none;
    font-family: "Trebuchet MS", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.profile-dropdown > li > a > span{
    padding-left: 10px;
}
.profile-dropdown > li > a > .fa-heart, .fa-plus-square{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.65);
    text-align: center;
    vertical-align: middle;
}
.profile-dropdown > li{
    padding: 5px 20px 5px 10px;
    background: white;
    text-align: center;
    vertical-align: middle;   
    text-decoration: none;
}

.profile-dropdown > li > a:link{
    color: black;
}
.profile-dropdown > li > a:visited{
    color: black;
}

/* search */
.nav-search{
    grid-column: 3;
    display: flex;
}
.search-bar {
    border: none;
    border-radius: 3px;
    background: rgba(166, 166, 166, .2);
    width: 439px;
    height: 24px;
    padding: 5px;
    padding-left: 35px;
    font-size: 16px;
    color: white;
}
.search-bar::placeholder{
    color: rgba(255, 255, 255, .5);
}
.search-bar:focus{
    background: rgba(67, 77, 86, .2); 
    outline: none;
    
}
.fa-search{
    position: relative;
    left: 25px;
    top: 8px;
    font-size: 17px;
    opacity: .2;
}

.search-list{
    list-style: none;
    position: absolute;
}
.search-list > .search-user{
    display: flex;
    justify-content: space-between;
    width: 429px;
    padding: 8px 10px;
    cursor: pointer;
    background: white;
    color: black;
}
.search-list > .search-user:hover{
    background: #e5e7ea;
}

.search-list > .search-user:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.search-list > .search-user:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-list > .search-user > .search-username{
    display: flex;
    justify-content: center;
    padding-top: 8.5px;
}
.search-list > .search-user > .avatar-container{
    width: 37px;
    height: 36px;
}

.search-list > .search-user > .avatar-container > .user-avatar{
    width: 37px;
    height: 36px;
}
.search-list > .search-user > .follow-button{
    z-index: 200;
    cursor: pointer;
}
.no-users{
    background: white;
    color: black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 429px;
    padding: 8px 10px;
}

.nav-right > .fa-user{
    cursor: pointer;
}

.social-links > li:hover{
    transform: scale(1.2);
}

