.navbar{
    width: 100%;
    display: grid;
    position: fixed;
	grid-template-columns: .25fr .5fr .5fr .5fr .5fr .5fr .25fr;
    top: 0px;
    height: 46px;
    align-items: center;
    z-index: 2;
}

.navbar-user:after{
    content: "";
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
	height: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	pointer-events: none;
}
.navbar-user{
    background:  #34526f;

}
.nav-left{
    display: flex;
	grid-column: 2;
}
.search-bar {
    border: none;
    border-radius: 3px;
    background: rgba(166, 166, 166, .2);
    width: 439px;
    height: 24px;
    padding: 5px;
    padding-left: 35px;
    font-size: 16px;
    color: white;
}
.search-bar::placeholder{
    color: rgba(255, 255, 255, .5);
}
.search-bar:focus{
    background: rgba(67, 77, 86, .2); 
    outline: none;
    
}
.fa-search{
    position: relative;
    left: 25px;
    top: 8px;
    font-size: 17px;
    opacity: .2;
}

.b{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    position: relative;
    color: white;
    line-height: 0em;
    top: 17px;
    justify-content: center;
    font-weight: bolder;   
    opacity: .8;
}
.b:hover{
    opacity: 1;
    animation-direction: normal;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-name: colours;
    animation-timing-function: ease;
}
@keyframes colours {
     0% {
         color: #1560BD;
        }
     25% {
         color: #f8cb4a;
        }
     50% {
         color: #ff492f;
        }
     75% {
         color: rgb(0, 207, 53);
        }
     100% {
         color: rgb(255, 138, 0);
        }
}
.nav-right{
    display: flex;
    flex-direction: row;
    grid-column: 6;
    list-style: none;
    position:relative;
}
.fa-user, .fa-home, .fa-github, .fa-angellist, .fa-linkedin{
    color: white;
    font-size: 30px;
    margin: 0 10px;
    opacity: .8;

}

.dropdown-content{
    display:none;
    position: absolute;
    list-style: none;
}
.dropdown-menu:hover .dropdown-content{
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    background: white;
    color: black;
    left: 0;
    right: 0;
    position: absolute;
}


.logout-button{
    cursor: pointer;
}

.dropdown-content > li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: lightgrey;

}

.dropdown-content > li:first-child{
    border-bottom: 1px solid black;
}
