
.post-navbar-container{
    min-width: 540px;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.post-navbar-container > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.text-post-button{
    color: black;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 35px;
}

.fa-camera-retro{
    color: #ff492f;
    font-size: 35px;
}
.fa-quote-left{
    color: rgb(255, 138, 0);
    font-size: 35px;
}
.fa-link{
    color: rgb(0, 207, 53);
    font-size: 35px;
}
.button-text{
    color: black;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}