.posts{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 690px;
}
.post-container{
    width: 540px;
    position: relative;
    color: black;
    padding-top:15px;
    padding-bottom: 12px;
    background: white;
    margin-bottom: 20px;
    border-radius: 3px;
    height: auto;
    word-wrap: break-word;
}

.post-header{
    padding: 0 20px;
    height: 16px;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
}

.item-title{
    padding: 0 20px;
    font-size: 26px;
    margin-bottom: 15px;
}
.item-body{
    padding: 0 20px;
    font-size: 16px;
    width: 500px;
    resize: none;
    border: none;
    min-height: 24px;
    overflow-wrap: break-word;
    font-weight: 400;
    line-height: 24px;
}

.tag-container{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14px;
    margin-top: 12px;
    color: rgba(0, 0, 0, .65);
}

.tag-container > li {
    margin-right: 11px;
}

.post-options{
    display: flex;
    padding-right: 20px;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 12px;
}

.post-options >  li {
    list-style: none;
    margin-left: 20px;
    font-size: 21px;
    color: rgba(0, 0, 0, .65);
    cursor: pointer;
}

/* photo */
.photo-item{
    max-width: 540px;
    min-width: 540px;
}

/* quote */
.quote-content{
    padding: 0 20px;
    font-size: 34px;
    font-family: Georgia, serif;
}

.quote-source{
    padding: 2px 20px;
    font-size: 15px;
    font-style: italic;
}

/* link */
.link-container{
    margin: 0 20px;
    border-radius: 3px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: block;
    color: black;
    cursor: pointer;

}
.link-title{
    padding: 16px 12px 0px 12px;
    font-size: 26px;
    
}
.link-body{
    padding: 8px 12px 16px 12px;
    font-size: 16px;
}

.follow-button{
    color: #00b8ff;
    font-size: 13.5px;
    border: none;
    background: transparent;
    font-weight: 600;
}

.unfollow-button{
    color: rgba(0, 0, 0, 0.65);
    font-size: 13.5px;
    border: none;
    background: transparent;
    font-weight: 600;
}



