body, html {
    position: relative;
    background-color: #34526f;
    color: white;
    height: 100%;
    width: 100%;
}

.splash-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    flex-direction: column; 
    animation: 2s ease 0s normal forwards 1 fade-in, slide-up 1s;
}
@keyframes fade-in{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}

@keyframes slide-up{
	from{
		transform: translateY(25px)
	} 
	to{
		transform: translateY(0px)
	}
}
.logo{
    font-family: 'Nunito', sans-serif;
    font-size: 55px;
    align-text: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.signup{
    background-color:#00B8FF; 
    width: 280px;
    height: 30px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.signup:hover {
    cursor: pointer;
}
.login{
    height: 30px;
    width: 280px;
    padding: 10px;
    border: 1px solid #444444;
    align-items: center;
    color: #444444;
    background-color:#FFFFFF; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.login:hover {
    cursor: pointer;
}