.show-posts > .posts > .avatar-container{
    display: none;
}

.show-posts{
    min-width: 690px;
}
.no-show-posts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 690px;
    height: 280px;
    font-size: 16px;
    color: #444444;
}
.user-show-container{
    background: #fafafa;
    min-height: 100vh;
}
.show-posts > .posts > .post-container{
    border: 1px solid rgba(0, 0, 0, .13);
}

.avatar-and-username > .avatar-container > .user-avatar{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid #444444;
    cursor: inherit;
}

.avatar-and-username > .avatar-container{
    height: 96px;
    margin-top: 60px;
}
.avatar-and-username{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #444444;
    font-size: 42px;
    font-weight: bold;
}

.show-username{
    margin-top: 8px;
    margin-bottom: 60px;
}

